/* $Id: project_issue.css,v 1.1.2.8 2007/01/04 11:05:40 dww Exp $ */
/* $Name:  $ */

.project .header {
  font-weight: bold;
  padding-top: 0.5em;
}

.project .node-form .inline-options fieldset .form-item {
  float: left;
  padding-right: 0.8em;
  margin: 0.05em 0.1em;
}

.project .node-form fieldset:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}
