/* $Id: project_issue.css,v 1.1.2.3.2.3 2006/12/15 09:28:38 dww Exp $ */
/* $Name:  $ */

.project .header {
  font-weight: bold;
  padding-top: 0.5em;
}

.node-form .project .options fieldset .form-item {
  float: left;
  padding-right: 0.8em;
  margin: 0.05em 0.1em;
}

.node-form .project fieldset:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}

.node-form .project .options fieldset {display: inline-table;}

table.projects {
  width: 100%;
}

table.projects .project-name {
  width: 25%;
}

table.projects .project-issue-updated {
  width: 14%;
}

table.projects .project-issues {
  width: 8%;
  text-align: right;
}

table.projects .project-issue-links {
  width: 20%;
  padding-left: 0.8em;
}

table.projects .project-project-updated {
  width: 15%;
}

table.projects .project-project-links {
  width: 18%;
}
